body{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

    background-color: white;
 }

 h1{
    color: blue;
    font-weight: bold;
    font-size: 30px;
 }
 a{
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    font-size: 15px;
}
input{
    width: 200px;
    height: 30px;
    border : 1px solid rgb(226, 217, 199);
    border-radius: 4px;

}
#connecter{
    border: none;
    width: 115px;
    height: 34px;
    background-color: #1877F2;
    color: white;
    border-radius: 4px;
    margin-left: 27%;
    font-weight: bold;
    font-size: 15px;
}
#ibou, #papi {
    translate: 60vh;
}
h1,input, button, a {
    display: inline-block;
}
.head{
    background-color: #F2F4F7;
    border: 2px solid #F2F4F7;
    height: 420px;
    margin: auto;
}
.foot {
    border: 10px solid white;
    background-color: white;
    height: 70%;
    width: 39%;
    border-radius: 15px;
    margin: auto;
    margin-top: 5%;
} 
h2{
    font-weight: bold;
    font-size: 25px;
}
p{
    font-size: 20px;
    color: #1C1E21;
}
#text{
    height: 13%;
    width: 99%;
    border-radius: 5px;
    
 }
 #bore{
    margin-left: 45vh;
    border: none;
    border-radius: 5px;
    height: 15%;
    width: 20%;
    font-weight: bold;
    font-size: 15px;
 }
 #girl{
    background-color: #1877F2;
    color: white;
    border: none;
    border-radius: 5px;
    height: 15%;
    width: 25%;
    font-weight: bold;
    font-size: 14px;
 }